:host {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222222;
}

.logo {
}

.logo img {
  height: 70px;
}

.logo .logo-text {
  height: 60px;
  padding-bottom: 5px;
}
