<!DOCTYPE html>
<html>
  <head>
    <title>Foodcorner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <base href="/"/>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <app-root></app-root>
  </body>
</html>
